In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
 
tags = pd.read_csv('tags.csv')
tags.head()

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

In [5]:
links = pd.read_csv('links.csv')
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [6]:
movie_names = movies[['movieId', 'title']]

combined_movies_data = pd.merge(ratings, movie_names, on='movieId')

combined_movies_data = combined_movies_data[['userId','title']]

combined_movies_data.head()

   userId                   title
0       1  Dangerous Minds (1995)
1       7  Dangerous Minds (1995)
2      31  Dangerous Minds (1995)
3      32  Dangerous Minds (1995)
4      36  Dangerous Minds (1995)

In [7]:
onehot = combined_movies_data.pivot_table(index='userId', columns='title', aggfunc=len, fill_value=0)
onehot = onehot.fillna(0)
onehot[onehot>1]=1
onehot.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
onehot.shape

(671, 9064)

In [9]:
from mlxtend.frequent_patterns import association_rules, apriori

frequent_itemsets = apriori(onehot, min_support = 0.15, max_len = 2, use_colnames=True)

rules = association_rules(frequent_itemsets)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Ace Ventura: Pet Detective (1994)),(Forrest Gump (1994)),0.260805,0.508197,0.213115,0.817143,1.607926,0.080575,2.689549
1,(Ace Ventura: Pet Detective (1994)),(Pulp Fiction (1994)),0.260805,0.482861,0.208644,0.800000,1.656790,0.082711,2.585693
2,(Beauty and the Beast (1991)),(Aladdin (1992)),0.262295,0.320417,0.211624,0.806818,2.518023,0.127581,3.517840
3,(Alien (1979)),(Star Wars: Episode IV - A New Hope (1977)),0.189270,0.433681,0.153502,0.811024,1.870092,0.071420,2.996771
4,(Aliens (1986)),(Star Wars: Episode V - The Empire Strikes Bac...,0.186289,0.348733,0.150522,0.808000,2.316957,0.085556,3.392014
...,...,...,...,...,...,...,...,...,...
76,(Raiders of the Lost Ark (Indiana Jones and th...,(Star Wars: Episode IV - A New Hope (1977)),0.327869,0.433681,0.263785,0.804545,1.855155,0.121595,2.897446
77,(Star Wars: Episode I - The Phantom Menace (19...,(Star Wars: Episode IV - A New Hope (1977)),0.205663,0.433681,0.171386,0.833333,1.921535,0.082194,3.397914
78,(Star Wars: Episode V - The Empire Strikes Bac...,(Star Wars: Episode IV - A New Hope (1977)),0.348733,0.433681,0.302534,0.867521,2.000367,0.151295,4.274794
79,(Star Wars: Episode VI - Return of the Jedi (1...,(Star Wars: Episode IV - A New Hope (1977)),0.323398,0.433681,0.278689,0.861751,1.987062,0.138437,4.096374
80,(Toy Story 2 (1999)),(Toy Story (1995)),0.186289,0.368107,0.150522,0.808000,2.195012,0.081947,3.291108

In [15]:
rules.sort_values(by = 'lift' ,ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
62,"(Lord of the Rings: The Return of the King, Th...","(Lord of the Rings: The Two Towers, The (2002))",0.262295,0.280179,0.233979,0.892045,3.183843,0.160490,6.667817
63,"(Lord of the Rings: The Two Towers, The (2002))","(Lord of the Rings: The Return of the King, Th...",0.280179,0.262295,0.233979,0.835106,3.183843,0.160490,4.473823
70,"(Monsters, Inc. (2001))",(Shrek (2001)),0.193741,0.259314,0.157973,0.815385,3.144385,0.107733,4.012047
39,"(Godfather: Part II, The (1974))","(Godfather, The (1972))",0.201192,0.298063,0.186289,0.925926,3.106481,0.126321,9.476155
56,"(Lord of the Rings: The Return of the King, Th...",(Lord of the Rings: The Fellowship of the Ring...,0.262295,0.298063,0.235469,0.897727,3.011875,0.157289,6.863388
7,(Batman Forever (1995)),(Batman (1989)),0.192250,0.292101,0.168405,0.875969,2.998853,0.112249,5.707433
58,"(Lord of the Rings: The Two Towers, The (2002))",(Lord of the Rings: The Fellowship of the Ring...,0.280179,0.298063,0.248882,0.888298,2.980239,0.165371,6.284011
57,(Lord of the Rings: The Fellowship of the Ring...,"(Lord of the Rings: The Two Towers, The (2002))",0.298063,0.280179,0.248882,0.835000,2.980239,0.165371,4.362552
66,(Pirates of the Caribbean: The Curse of the Bl...,"(Lord of the Rings: The Two Towers, The (2002))",0.210134,0.280179,0.172876,0.822695,2.936321,0.114001,4.059791
46,(Indiana Jones and the Last Crusade (1989)),(Raiders of the Lost Ark (Indiana Jones and th...,0.219076,0.327869,0.199702,0.911565,2.780272,0.127874,7.600252

In [10]:
rules[rules.antecedents.apply(str).str.contains("(Beauty and the Beast (1991))")].sort_values('lift', ascending=False)

C:\Users\harsha\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []